.banner {
  height: 70vh;
  background-image: 
    linear-gradient(to right, #000000, #00000000),
    url('./Assets/banner-image.png');
  background-size: cover;
  background-position: center;
  color: white;
}
.feature-container{
    position: relative;
}
.feature-card{
    position: absolute;
    top:-50px;
    left: 20px;
    z-index: 1;
}